/* Para efectuar un scroll suave hacia los ID */
    html {
        scroll-behavior: smooth;
    }

/* Para generar un offset al apretar los botones en el NavBar */
    .anchor {
        top: -100px;
        position: relative;
        display: block;
    }

/* Para generar un offset al apretar los botones en el NavBar - Presupuesto Online*/
.anchor_presupuesto {
    top: -50px;
    position: relative;
    display: block;
}

/* Imagen de fondo header con sombreado */
    .jumbotron {
        background: linear-gradient(rgba(33, 33, 33, 0.773), rgba(0, 0, 0, 0.8)), url(../img/header.jpg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
    }
    
    @media (min-width: 576px) {
        .jumbotron {
        padding: 4rem 2rem;
        }
    }
    
    .jumbotron-fluid {
        padding-right: 0;
        padding-left: 0;
    }

/* Para control de colores segun nombre */
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #4a060c;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #2391ec; /*Este es el color principal, a modificar manualmente en --> .border-bottom*/
    --secondary: #ffffff;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #2c0408;
    --light: #FFFFFF;
    --dark: #1F1F2E;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

/* Para control de texto primario */
    .text-primary {
        color: var(--primary);
    }

/* Para control de botones */
    .btn-primary {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
    }

    .btn-primary:hover {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
    }
    
    .btn-primary:focus, .btn-primary.focus {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
        box-shadow: 0 0 0 0.2rem rgba(255, 99, 38, 0.5);
    }
    
    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: var(--primary);
        border-color: var(--primary);
    }
    
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #2f00d9;
        border-color: #2f00d9;
    }
    
    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 99, 38, 0.5);
    }


/* Para control de color de fondo de botones */
    .bg-primary {
        background-color: var(--primary) !important;
    }
    
    a.bg-primary:hover, a.bg-primary:focus,
    button.bg-primary:hover,
    button.bg-primary:focus {
        background-color: var(--primary) !important;
    }

/* Para el control de los Circulitos de testimonios */
    .testimonial-carousel .owl-dot.active {
        background: var(--primary);
    }

/* Para control de los links "a" */
    a {
        color: var(--primary);
        text-decoration: none;
        background-color: transparent;
    }
    
    a:hover {
        color: #b33200;
        text-decoration: underline;
    }
    
    a:not([href]):not([class]) {
        color: inherit;
        text-decoration: none;
    }
    
    a:not([href]):not([class]):hover {
        color: inherit;
        text-decoration: none;
    }

/* Para el control de los botones del NavBar */
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link.active {
    color: #FFFFFF;
    background: var(--primary); /* Color bueno para usar --> FF5170 */
    }

/* Control de border inferiores */
    .border-bottom {
    border-bottom: 1px solid #2391ec !important;
    }

/* Control de color de fondo de iconos y botones*/
    .text-dark {
    color: #000000;
    }

    .text-white {
        color: #fff !important;
      }

/* Para control de boton "Presupuestar" */
    .btn-dark {
        color: rgb(255, 255, 255);
        background-color: #0d1896e4;
    }
    
    .btn-dark:hover {
        color: #fff;
        background-color: #101017;
    }
    
    .btn-dark:focus, .btn-dark.focus {
        color: #fff;
        background-color: #101017;
        border-color: #0a0a10;
        box-shadow: 0 0 0 0.2rem rgba(65, 65, 77, 0.5);
    }
    
    .btn-dark.disabled, .btn-dark:disabled {
        color: #fff;
        background-color: #1F1F2E;
        border-color: #1F1F2E;
    }
    
    .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
    .show > .btn-dark.dropdown-toggle {
        color: #fff;
        background-color: #0a0a10;
        border-color: #050508;
    }
    
    .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
    .show > .btn-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(65, 65, 77, 0.5);
    }


    .altura_custom_presupuestos{
        height: 40rem;   
    }

    #presupuestos_generados_dom {
        height: 17.3rem;
        resize: none;
        text-align: justify;
    
}
.propiedad_mapa {
    width: 600rem;
    height: 225rem; 
    border: 0;
}


.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }

.custom-select:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0rem ;
  }

/* .display-5 {
    display: flex;
    flex-wrap: wrap;


} */
